<ion-tabs>

  <ion-tab-bar slot="bottom" color="secondary"> 
    <ion-tab-button tab="tab1">
      <!-- <img src="../../assets/animais/icon-elefante.svg" width="30px"/> -->
      <ion-icon aria-hidden="true" name="star"></ion-icon>
      <ion-label>Animais</ion-label>
    </ion-tab-button>
    
    <!-- <ion-tab-button tab="tab2">
      <ion-icon aria-hidden="true" name="star"></ion-icon>
      <ion-label>Favoritos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="cog-sharp"></ion-icon>
      <ion-label>Configurações</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>

</ion-tabs>
