ion-content,
ion-label,
ion-title {
    font-family: cursive !important;
}

.lista {    
    background-color: #e7e7ff;   
}

.item-lista {
    font-size: 30px;        
}

.titulo-escolha {
    font-size: 40px;
    font-family: cursive !important;
    text-align: center;
}

.imagem-animais {
    border: 10px solid #2dd36f;
}

.borda {
    border: 30px solid #e7e7ff;       
}

.descricao {
    text-align: justify;
}

.icone-reproduzir {
    font-size: 40px;
    color: #3880FF;
    margin-left: 4%;
}