<ion-content class="ion-padding" color="primary">
  <ion-card color="secondary" class="texto-card borda">
    <ion-card-header>
      <ion-card-title><b>Vídeos dos Animais</b></ion-card-title>
      <ion-card-subtitle>
        Explore o maravilhoso mundo dos animais com nossos vídeos emocionantes!
        Prepare-se para se encantar com a diversidade e a beleza da fauna selvagem em seu habitat natural.
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list class="lista">
        <ion-item color="secondary" (click)="abrirVideo('cachorro')">
          <ion-thumbnail slot="start">
            <img src="../../assets/animais-svg/cachorro.svg" />
          </ion-thumbnail>
          <ion-label>Cachorro</ion-label>
        </ion-item>
        <ion-item color="secondary" (click)="abrirVideo('gato')">
          <ion-thumbnail slot="start">
            <img src="../../assets/animais-svg/gato.svg" />
          </ion-thumbnail>
          <ion-label>Gato</ion-label>
        </ion-item>
        <ion-item color="secondary" (click)="abrirVideo('girafa')">
          <ion-thumbnail slot="start">
            <img src="../../assets/animais-svg/girafa.svg" />
          </ion-thumbnail>
          <ion-label>Girafa</ion-label>
        </ion-item>
        <ion-item color="secondary" (click)="abrirVideo('leao')">
          <ion-thumbnail slot="start">
            <img src="../../assets/animais-svg/leao.svg" />
          </ion-thumbnail>
          <ion-label>Leão</ion-label>
        </ion-item>
        <ion-item color="secondary" (click)="abrirVideo('macaco')">
          <ion-thumbnail slot="start">
            <img src="../../assets/animais-svg/macaco.svg" />
          </ion-thumbnail>
          <ion-label>Macaco</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-alert cssClass="aviso" [isOpen]="exibirAviso" [header]="alerta" [message]="mensagem" [buttons]="botoes"
    (didDismiss)="resultadoAlerta($event)"></ion-alert>

    <ion-card color="secondary" class="borda" *ngIf="redirecionado">
      <ion-card-title class="titulo-escolha">
        <b>Assistindo...</b>
      </ion-card-title>
      <div class="d-flex justify-content-center align-items-center">
        <img src="../../assets/animais-svg/cachorro2.svg" width="20%" />  
        <img src="../../assets/animais-svg/televisao.svg" width="20%" />  
      </div>
    </ion-card>
</ion-content>