ion-card-title {
    text-align: center;
}

ion-alert {
    --background:#e7e7ff;    
    font-family: cursive !important;                
}

ion-label,
.texto-card {
    font-family: cursive !important;
    text-align: justify;
}

.borda {
    border: 30px solid #e7e7ff;       
}

.lista { 
    background-color: #3dc2ff;
}

.titulo-escolha {
    font-size: 40px;
    font-family: cursive !important;
    text-align: center;
}